.App {
  background-color: #151515;
  color: #DDDDDD;
  height: 100%;
  width: 100%;
  position: absolute;
  border-color: #DDDDDD;
  font-size: 1.8rem;
}

button {
  background-color: inherit;
  font-size: inherit;
  color: inherit;
  border-style: solid;
  border-color: inherit;
  border-right-width: 1px;
  border-bottom-width: 1px;
  position: absolute;
}

button:hover {
  background-color: #202020;
}

button:active {
  background-color: #202020;
  box-shadow: 3px 3px 0 #DDDDDD inset;
}